<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Bank of Soul Society</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn" href="/">Home <span class="sr-only">(current)</span></a>
        </li>


        <!-- <li class="nav-item">
          <a class="nav-link" href="/customer">Customer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/customercreate">add Customer</a>
        </li> -->

        <li class="nav-item dropdown">
            <a class="nav-link btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Customer
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/customer">Customer List</a>
              <a class="dropdown-item" href="/customercreate">Add Customer</a>
            </div>
        </li>


        <!-- <li class="nav-item">
            <a class="nav-link btn" href="/accountlist">AccountList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn" href="/accountcreate">add Account</a>
        </li> -->

        <li class="nav-item dropdown">
            <a class="nav-link btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/account">Account List</a>
              <a class="dropdown-item" href="/accountcreate">Add Account</a>
            </div>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link btn" href="/transactionlist">TransactionList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn" href="/transactioncreate">add Transaction</a>
        </li> -->

        <li class="nav-item dropdown">
            <a class="nav-link btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Transaction
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/transactionlist">Transaction List</a>
              <a class="dropdown-item" href="/transactioncreate">Add Transaction</a>
            </div>
        </li>


      </ul>
    </div>
  </div>
</nav>