<div>
  <app-account-update #formAccount *ngIf="showDetail" [account]="selectedAccount" (result)="prosesResult($event)"> </app-account-update>
</div>
<div class="table-responsive">
    <table class="table  table-striped border">
      <thead align="center">
        <th>Acc.Number</th>
        <th>Open Date</th>
        <th>Balance</th>
        <th>Username</th>
        <th colspan="3">Action</th>
      </thead>
  
      <tbody  align="center">
        <tr *ngFor="let acc of listAccount">
          <td ><a (click)="selectAccount(acc);"><u>{{acc.accountNumber}}</u></a></td>
          <!-- <td align="center"><u>{{acc.accountNumber}}</u></td> -->
          <td >{{acc.openDate}}</td>
          <td >{{acc.balance | currency:'Rp '}}</td>
          <td>{{acc.customer ? acc.customer.username : " "}}</td>
          <td>
            <button class="btn"><i class="far fa-eye" (click)="viewTransaction(acc.accountNumber);"></i></button>
          </td>
          <td>
              <button class="btn"><i class="fas fa-edit" (click)="selectAccount(acc);"></i></button>
          </td>
          <td>
              <button class="btn"><i class="fas fa-trash" (click)="deleteAccount(acc.accountNumber);"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
